/* METHOD PAGE */
.method-address-single {
	display: flex;
	align-items: center;
	margin-bottom: 3.5rem;
	&:last-child {
		margin-bottom: 0;
	}
}

.method-address-single-left {
	margin-right: 2.5rem;
	a {
		text-align: center;
		img {
			display: block;
			margin: 0 auto;
			margin-bottom: 1rem;
		}
	}
}

.method-address-single-right {
	a {
		p {
			color: $main-red;
		}
	}
	p {
		color: $main-grey;
		margin-top: .8rem;
	}
}
/* END METHOD PAGE */