// bower:scss
// endbower

/* MAIN CSS */
@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/Roboto-Medium.ttf');
}

$main-red: #982128;
$main-white: #fff;
$main-grey: #969696;
$bg-sm: radial-gradient(70% 60% at 50% 0, rgba(255, 255, 255, 0.15) 0.55%, rgba(255, 255, 255, 0) 63.54%);

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'RobotoMedium', sans-serif;
  font-size: 2.4rem;
  color: $main-white;
  line-height: 1;
  background-color: #000;
  min-width: 320px;
}

h1 {
  font-size: 3.6rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

p {
  font-size: 2.4rem;
  margin: 0;
}

small {
  font-size: 2rem;
  color: $main-grey;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 4rem;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.btn-primary {
  display: block;
  font-size: 3rem;
  text-align: center;
  box-sizing: border-box;
  padding: 2rem 0;
}

.btn-active {
  background: linear-gradient(#3c3c3c, #252525);
}

.btn-submit {
  display: block;
  font-size: 3rem;
  text-transform: uppercase;
  background-color: red;
  max-width: 56rem;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0;
  border-radius: 5px;
  background: linear-gradient(#B21B24, #58080D);
}

main {
  min-height: calc(100vh - (10.4rem + 14rem));
}

// Header
header {
  display: flex;
  align-items: center;
  height: 10.4rem;
  background: linear-gradient(#b21b24, #891219);
}

.header-title {
  h2 {
    padding: 0 10px;
    margin-left: 90px;
  }
}

.menu-back-btn {
  display: block;
  background-image: url('../images/arrow_l.svg');
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 64px;
  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

//Footer
footer {
  padding: 0 4rem;
  height: 14rem;
  background: radial-gradient(90% 60% at 50% 0, rgba(255, 255, 255, 0.15) 30.39%, rgba(255, 255, 255, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.footer-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    position: relative;
    width: 4.8rem;
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
    span {
      display: block;
      position: absolute;
      top: -1rem;
      left: 3.5rem;
      background-color: $main-red;
      padding: .8rem .8rem .6rem;
      border-radius: .8rem;
    }
  }
}
/* END MAIN CSS */

@import "home";
@import "list";
@import "3-item";
@import "6-payment";